body {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: antiquewhite;
}

table {
    font-weight: bold;
    
}


aside {
    flex: 1;
    overflow-y: auto;
    background-color:darkcyan;
}

footer {
    background-color: blueviolet;
}